*{
	margin: 0;
	padding: 0;
	
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

/*Header*/
header {
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: rgba(255,255,255,0.8);
	z-index: 2;
}

.nav-container {
	width: 900px;
	height: 80px;
	margin: 0 auto;
}

/*ハンバーガーメニュー*/
.menu-box{
	display: none;
	float: right;
	width: 40px;
	height: 40px;
	margin-right: 5%;
	/*border: 1px solid #996600;*/
	margin-top: 13px;
}

.list-bar{
	display: block;
	width: 25px;
	height: 2px;
	margin: 7px auto;
	background-color: #996600;
}

.list-bar:first-child{
	margin-top: 10px;
}

ul {
	float:right;
}

.nav-img {
	float: left;
	height: 70px;
	padding: 5px 20px;
	line-height: 80px;
}

.nav-list {
	float: left;
	list-style: none;
	line-height: 120px;
	margin-left: 40px;
	font-family: 'Alegreya', serif;
	font-style: italic;
	font-size: 17px;
}

.nav-list a {
	color: #996600;
}

.nav-list i {
    font-size: 17px;
}

.main {
	width: 900px;
	margin: 0 auto;
	padding-top: 80px;
	position:relative;
    /*box-shadow:0 1px 10px rgba(0, 0, 0, 0.1);*/
}

.container {
	width: 800px;
	margin: 0 auto;
}

section {
	padding-top: 100px;
}

.work-text {
	font-family: 'Alegreya', serif;
	color: #666666;
}

h2 {
	font-size: 16px;
    font-weight: normal;
    padding-bottom: 5px;
    color: #996600;
}

h2::after {
	content: "";
	display: block;
	width: 25px;
	height: 1px;
	margin: 13px 0 10px 0;
	background-color: #cccccc;
}

p {
	font-size: 9px;
	padding-bottom: 2px;
}

.work-photo img {
	width: 800px;
	height: auto;
	padding-top: 10px;
}

a {
	text-decoration: none;
	color: #666666;
}

/*Footer*/
footer {
    width: 100%;
	font-family: 'Alegreya', serif;
    font-size: 15px;
	text-align: center;
	line-height: 60px;
	height: 60px;
	color: #996600;
	background-color: white;
}

